body{
    padding-bottom: 10px
}

@media (max-width: 768px){
    .paragraphs{
        padding-left: 10px;
        padding-right: 10px
    }
    .quotes{
        text-align: center
    }
    .list{
        margin-left: -10px
    }
}

@media (max-width: 400px){
    .paragraphs{
        padding-left: 5px;
        padding-right: 5px
    }
    .quotes{
        text-align: center
    }
    .list{
        margin-left: -10px
    }
}

#main-header{
    background-color: #005A9E;
    color: white;
    font-family: "Roboto";
    padding-left: 10px
}

.headings{
    text-decoration: underline
}

.paragraphs{
    text-align: left
}

#footer{
    display: flex;
    justify-content: center;
}

#outro{
    text-align: center
}

ul, ol{
    margin-left: -10px
}